.fg-black { color: #000; }
.fg-dark  { color: #444; }
.fg-light { color: #999; }
.fg-white { color: #FFF; }

.bg-black { background-color: #000; }
.bg-dark  { background-color: #444;
  background: -moz-linear-gradient(top, #555 0%, #444);
  background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#444));}
.bg-light { background-color: #999; }
.bg-white { background-color: #FFF; }