/* This file will hold the main styles for your website. */
@import url("../skins/styles/box.css");
@import url("../skins/styles/colors.css");
@import url("../skins/styles/general.css");

@font-face {font-family:"Vonnes Condensed"; src:url('/sites/all/fonts/Vonnes-MediumCondensed.otf');}
@font-face {font-family:"Vonnes Light Condensed"; src:url('/sites/all/fonts/Vonnes-LightCondensed.otf');}
@font-face {font-family:"Vonnes Black Condensed"; src:url('/sites/all/fonts/VonnesTTBlackCond.otf');}
@font-face {font-family:"Vonnes Bold"; src:url('/sites/all/fonts/VonnesTTBold.otf');}
@font-face {font-family:"Vonnes Light"; src:url('/sites/all/fonts/Vonnes-Light.otf');}
@font-face {font-family:"Vonnes Book"; src:url('/sites/all/fonts/Vonnes-Book.otf');}
@font-face {font-family:"Vonnes Thin Extended"; src:url('/sites/all/fonts/Vonnes-ThinExtended.otf');}

body {color:#444; background-color: #EFEFEF;}

/* Omega override: omega-text.css (~line 97): */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol,
ul, pre, table, address, fieldset {
  margin-bottom: .65em;
}

h1, h2, h3, h4, h5, h6 {font-family:"Vonnes Light";}
/*h5, h6 {font-family:"Vonnes Condensed";}*/

p {margin-bottom:1em;}
a:link,
a:visited {color: #3156AD; /* 258 */ text-decoration:none;}
a:hover {color: #7AA2FF; /* 036 */}

.logo-img {
  box-shadow:0px 0px 38px #666; -webkit-box-shadow:0px 0px 38px #666; -moz-box-shadow:0px 0px 38px #666;
  margin: 7px 20px 0px 17px;
}

/*h1#page-title {padding-left: 10px;}*/
body.page-home h1#page-title {padding-left: 10px;}

h2.pane-title {font-size:1.6em;}
/* .pane-edge-treatment-options-pane-all-styles h2.pane-title {margin-top:1em;} */

/**
 * HEADER
 */
#section-header {
  color: #EEE;
  background-color: #333; /* Dark ass blue: #1E2531; */
  background: -moz-linear-gradient(top, #444 0%, #333);
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
  box-shadow: -1px 3px 4px -3px #0B121E;
}
#section-header .content a {color: #CCDFEC !important;}
#section-header a.active-trail.active {color:#FFF !important;}
#section-header .site-name a span {color: #FFF; text-shadow:2px 1px 2px #333;}

  /* Header First */
  #region-header-first .region-inner {padding: 15px 15px 0 0;}
  
  /* Logo, Site Name, Site Slogan */
  #section-header .block-delta-blocks-logo,
  #section-header .block-delta-blocks-site-name {display:inline; float:left;}
  #section-header .block-delta-blocks-site-slogan {display:block; clear:both; padding:10px 10px 10px 15px;}
  #section-header .block-delta-blocks-site-slogan .site-slogan {font-size: 1.6em; font-weight:normal; font-weight:normal; color: #EEE;}

/**
 * FOOTER
 */
 
/* Branding zone */
h1.site-name,
h2.site-name {/*font-family: "Vonnes Bold";*/ font-size: 2em; margin-top:.75em;}

.site-name a,
.site-name a:link,
.site-name a:visited {color:#FFF;}
.site-slogan {color: #999; margin-top:.4em;}

/* Core Primary Menu in <nav> element */
nav.navigation {margin-top:1.2em; text-align:right;}
nav.navigation li {/*border-right:1px solid #E4E4E4;*/ font-size:1.25em; /*margin-right:0px;*/}
/*nav.navigation li.active-trail {padding:15px; background-color:#4E4832;}*/
nav.navigation li a {font-family:"Vonnes Book"; text-decoration:none;}
nav.navigation li a.active {color:#FFF !important;}

/* Menu zone */
#zone-menu {}
#zone-menu a {}

/* -------------------------------------------------------------------------- */

/**
 * CONTENT
 */

/* Breadcrumb */
#breadcrumb {padding:20px 20px 0px 20px; text-shadow: 0px 1px 0px #FFF; color: #777; font-family:"Vonnes Light";}
#breadcrumb .breadcrumb {margin-bottom:0px;}
#breadcrumb a {color: #777 !important; text-decoration:none;}


/* -------------------------------------------------------------------------- */


/*.panel-pane {border:1px solid #eee; padding:1em;}*/
body.page-home .panel-pane p {
  margin-bottom: 0;
}


/* -------------------------------------------------------------------------- */

/**
 * MENUS & TABS
 */
.ui-tabs.ui-widget-content {border-color: #EEE; margin: 1em 1.4em 1.4em 0; box-shadow:0px 2px 6px #CCC;}
.ui-tabs.ui-widget-content .ui-widget-header {border-color:#CCC;}
.ui-tabs.ui-widget-content .ui-state-active,
.ui-tabs.ui-widget-content .ui-widget-content .ui-state-active,
.ui-tabs.ui-widget-content .ui-widget-header .ui-state-active {border-color: #CCC;}


/* -------------------------------------------------------------------------- */

/**
 * TABLES
 */
/* Override Omega tables css. */
table {
  border: 1px solid #EEE;
  width: 100%;
}
thead th, th {
  background: #f7f7f7;
  border-bottom: 1px solid #DDD;
  color: #333;
  text-transform:uppercase;
  font-size: .9em;
  font-family:"Vonnes Light";
}
td, th {
  padding: 4px 8px;
  vertical-align: middle;
}
th a,
th a:link,
th a:visited {
  text-decoration: none;
}
th a {
  display: block;
}
th a img {
  margin: 0 0 0 5px;
}
th.active {
  background: #FFF;
  border-left: none;
  border-right: none;
}
tr.even, tr.odd {
  border-bottom: 1px solid #F7F7F7;
}
tr.even td {
  background: #FFF; /* #FCFCFC; */
}
tr.odd td {
  background: #FFF; /* #FFFFFF; */
}
td.active {
  border-left: 1px solid #CCC;  border-right: 1px solid #CCC;
}
tr.even td.active {
  background: #FFF; /* #FAFAFA; */
}
tr.odd td.active {
  background: #FFF; /* #FAFAFA; */
}
tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
  background: #FFF; /* #F6F6F6; */
}
td ul.links            {
  margin-bottom: 0;
}


/* -------------------------------------------------------------------------- */

/**
 * VISIBILITY and POSITIONING
 */

#zone-branding {
  margin-top: 1em;
  margin-bottom:1em;
}
.pane-node-field-img-featured {
  margin-bottom:15px;
}
.pane-edge-treatment-options-pane-per-style,
.pane-colorways-panel-pane-4 {
  padding-bottom: 7px;
}
body.page-home #page-title {
  display:none;
}
body.page-home #section-content {
  padding-top:15px;
}
body.page-node.node-type-book #block-system-main .block-inner {
  padding:15px;
}
.view-edge-treatment-options .view-content {
  clear:both;
}


/* -------------------------------------------------------------------------- */

/**
 * FOOTER
 */

#zone-footer-wrapper {
  background-color:#333;
  background: -moz-linear-gradient(top, #444 0%, #333);
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
  color: #EEE;
}
#section-footer .content a {color: #CCDFEC !important;}
#section-footer a.active-trail.active {color:#FFF !important;}


/* -------------------------------------------------------------------------- */

/**
 * MODULAR STYLES
 * Not "module" in the Drupal sense of the word, but SMACSS.
 */
.asid-industry-partner {
  display:block;
  float:left;
  width:64px;
  height:83px;
  margin-top: 5px;
  margin-right: 10px;
  overflow:hidden;
  text-indent:-9999px;
  background: transparent url('../images/asid-logo-small.png') no-repeat top left;
}
.asid-industry-partner span {display:none;}
 
 
/* -------------------------------------------------------------------------- */

/**
 * HELPFUL TWEAKS
 */

/* Context admin page */
#context-blockform .context-blockform-selector {height:38em;}


/* -------------------------------------------------------------------------- */

/**
 * TWEAKY TWEAKS
 * Should probably find some other way of dealing with.
 */

/* Inner Content area */
.region-content-inner {padding:15px;} /* TODO: Customize/standardize .region-content-inner tight!! */
body.front .region-content-inner {padding: 2px 1px 0px 15px;} /* Home page is special */

/* Responsive grid layout for Panels pages only need extra padding in the page title: */
body.node-type-edge-treatment-example .region-content-inner,
body.node-type-edge-treatment-option .region-content-inner,
body.node-type-style .region-content-inner,
body.context-dealer-support .region-content-inner {padding:0px;}
body.node-type-edge-treatment-example h1.title,
body.node-type-edge-treatment-option h1.title,
body.node-type-style h1.title,
body.context-dealer-support h1.title {
  padding-left:15px;
}

/* Views */

/* Home page slideshow */
.pane-home-page-features-panel-pane-1 {margin-bottom:6px} /* The panel pane */
.view-home-page-features {display:block; clear:both; background-color:#F7F7F7; height:450px;}
.view-home-page-features .view-content {margin:0 auto;}
.view-home-page-features .views-slideshow-cycle-main-frame {width:730px; height:450px; overflow:hidden; float:left;}

.view-home-page-features .views-slideshow-slide-text-container {position:relative; top:-86px; height: 86px; width:750px; background-image:url('../images/black-bg-50-opacity.png');}
.view-home-page-features .views-slideshow-slide-text-container .inner h2 {margin-bottom:0px;}
.view-home-page-features .views-slideshow-slide-text-container .inner {color:#FFF; padding:1em;}
.view-home-page-features .views-slideshow-slide-text-container .inner a {color:#FFF; text-decoration: none;}

.view-home-page-features .views-slideshow-controls-bottom {position:relative; float:left;}
.view-home-page-features .views-slideshow-controls-bottom .views-slideshow-pager-field-item {display:block;}
.view-home-page-features .views-slideshow-controls-bottom .views-slideshow-pager-field-item .inner {padding:0px 10px; font-weight:bold; font-family:"Vonnes Condensed"; font-size:1.2em;}
.view-home-page-features .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .inner,
.view-home-page-features .views-slideshow-controls-bottom .views-slideshow-pager-field-item:hover .inner {background-color:#EEE;}

.view-home-page-features .views-slideshow-pager-field-item .image {display:none;} /* Pager */
.view-home-page-features .views-slideshow-pager-field-item .text {clear:left; display:block; padding:1.5em 1em;}

.addressfield-container-inline.locality-block { /* Style node Country of Origin field */
  display:none;
}

/* Dealer Support > Images */
.view-dealer-support-images table.views-view-grid td {
  text-align:center;
  border:1px #666 ridge;
  padding: 1em;
}

/* Dealer Support - "More" links */
body.page-dealer-support .pane-views-panes .more-link a {
  display: block;
  padding: 1em;
  background-color: #F7F7F7;
  margin: 1em 0 0;
}
 
/* Flag - Sample Request (Flag/Unflag) links */
.flag-sample-request.flag-wrapper .flag-throbber {display:none;}
.flag-sample-request.flag-wrapper a.flag-action,
.flag-sample-request.flag-wrapper a.unflag-action {display:block; padding-left: 22px; background-color:transparent; background-repeat: no-repeat; background-position:0px 4px;}
.flag-sample-request.flag-wrapper a.flag-action {background-image: url('/sites/all/libraries/icons/silk/add.png');}
.flag-sample-request.flag-wrapper a.unflag-action {background-image: url('/sites/all/libraries/icons/silk/delete.png');}

.view-styles .views-field-field-img-preview {margin-bottom:15px;}

/* Flag - NEW */
.flag-label-new {
  position: relative;
  top: -155px;
  left: 0px;
  margin-bottom: -45px;
  display: block;
  height: 45px;
  width: 45px;
  text-indent: -9999px;
  background: transparent url('../images/flag-label-new_topleft_white.png') no-repeat top left;
}
.flag-label-new span {
  display:none;
}

/* Flag - 100% PURE WOOL/SISAL */
.flag-status-float-right {float:right; margin:-86px -6px 0 0; z-index:5;}
.flag-status-pure-wool,
.flag-status-pure-sisal {
  display:block;
  height:85px;
  width:85px;
  overflow:hidden;
  background-color: transparent; 
  background-repeat: no-repeat;
  background-position: top left;
  text-indent: -9999px;
}
.flag-status-pure-wool span,
.flag-status-pure-sisal span {
}
.flag-status-pure-wool {
  background-image: url('../images/flag-status-pure-wool.gif');
}
.flag-status-pure-sisal {
  background-image: url('../images/flag-status-pure-sisal.gif');
}
 
 
/* -------------------------------------------------------------------------- */

/**
 * RESPONSIVE TWEAKS
 */
 
/* Reduce the main slide on narrow layouts */
body.responsive-layout-narrow .view-home-page-features .views-slideshow-cycle-main-frame {width:664px;}
body.responsive-layout-normal .view-home-page-features .views-slideshow-cycle-main-frame {width:682px;}

/* Set size of pagers based on layout */
body.responsive-layout-normal .view-home-page-features .views-slideshow-controls-bottom .views-slideshow-pager-field-item {width:202px;}
body.responsive-layout-wide .view-home-page-features .views-slideshow-controls-bottom .views-slideshow-pager-field-item {width:392px;}

/* Hide the pager on narrow layouts */
body.responsive-layout-narrow .view-home-page-features .views-slideshow-controls-bottom,
body.responsive-layout-mobile .view-home-page-features .views-slideshow-controls-bottom {display:none; visibility:hidden;}

/* Style featured image */
.field-name-field-img-featured img {
  width: 100%;
  height: auto;
}


/* -------------------------------------------------------------------------- */

/**
 * EXPERIMENTAL STYLES
 */
.compact-text {letter-spacing:-0.02em;}
.small-caps {font-family: "Vonnes Light"; text-transform: uppercase; font-size: 0.9em;}
.float-left {float:left; margin-top:0; margin-right:15px; margin-bottom:15px;}
.float-right {float:right; margin-top:0; margin-left:15px; margin-bottom:15px;}
.float-left.views-row-last {margin-right:0px;}
.view-collections .views-row.float-left {width:240px;}
.view-collections .views-field-field-img-preview {margin-bottom: 15px;}
a.button {
  display:block;
  line-height:3em;
  padding:0 1em;
  background-color:#F7F7F7;
}
p a.button {
  margin:1em -1em -2em;
}
